[Desktop Entry]
Name=startgame 启动器
Comment=使用自定义 Proton/Wine 版本和环境变量启动 EXE
Exec=/home/ling/.local/bin/startgame %f
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;
Categories=Game;
StartupNotify=true
Icon=applications-games
