[Desktop Entry]
Name=startgame 启动器
Comment=使用UMU的快速游戏配置器
Exec=/home/ling/.local/bin/startgame %f
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;
Categories=Game;
StartupNotify=true
Icon=applications-games
